
h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
 color:rgb(14, 3, 111);
 font-size: 35px;
}

.mat-icon {
  height: 20px ;
  width: 20px;
}


.blue-icon{
  color: darkblue;
  padding-right: 20px;
}

.red-icon{
  color:red;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: rgba(225, 246, 247, 0.94);
}


th {
  background-color: rgb(14, 3, 111);
  color: white;
}
